<% if @err %>
    <p><%= @err %></p>
<% end %>

<h3>Login to see your collection of wines</h3>

<form action="/login" method='POST'>
  <label for="username">Username: 
    <input type="text" name="username" placeholder="username"><br>
  </label>

  <br>

  <label for="password">Password:
  <input type="password" name="password" placeholder="Password"><br>
  </label>
  
  <br>

  <input type="submit" value="Log In"> 
</form>

<h4>Don't have an account, sign up <a href="/signup">here</a>!</h4>