<div class="login">

  <section id="error">
    <% if @err %>
    <img src="/images/broken_glass.png">
      <p><%= @err %></p>
    <% end %>
  </section>

  <header>
    <h2>Login to see your collection of wines</h2>
  </header> 

  <section id="login-form">
    <form action="/login" method='POST'>
      <label for="username">Username: 
        <input type="text" name="username" placeholder="username"><br>
      </label>

      <br>

      <label for="password">Password:
      <input type="password" name="password" placeholder="Password"><br>
      </label>
      
      <br>

      <input type="submit" value="Log In"> 
    </form>
  </section>
  
  <footer>
    <h2>Don't have an account, sign up <a class="white-link" href="/signup">here</a>!</h2>
  </footer>

</div>
