<div class="signup">

  <section class="error">
    <% if @user && @user.errors.any? %>
      <img src="/images/broken_glass.png">
      <% @user.errors.full_messages.each do |msg| %>
        <h2 id="error-text"> <%= msg %> </h2>
      <% end %>
    <% end %>
  </section>

  <header>
    <h2>Sign up to create your collection of wines</h2>
  </header>

  <section id="<%=@user && @user.errors.any? ? 'error-signup-form' : 'signup-form'%>">
    <form action="/signup" method='POST'>
      <label for="username">Username: 
        <input type="text" name="username" placeholder="username"><br>
      </label>

      <br>

      <label for="email">Email: 
        <input type="email" name="email" placeholder="email"><br>
      </label>

      <br>
      
      <label for="password">Password:
      <input type="password" name="password" placeholder="Password"><br>
      </label>
      
      <br>

      <input type="submit" value="Sign Up"> 
    </form>
  </section>

  <footer>
    <h2>Already have an account, log in <a class="white-link" href="/login">here</a>!</h2>
  </footer>

</div>
