<% if @user && @user.errors.any? %>
  
  <% @user.errors.full_messages.each do |msg| %>
    <p> <%= msg %> </p>
  <% end %>

<% end %>


<h3>Sign up to create your collection of wines</h3>

<form action="/signup" method='POST'>
  <label for="username">Username: 
    <input type="text" name="username" placeholder="username"><br>
  </label>

  <br>

  <label for="email">Email: 
    <input type="text" name="email" placeholder="email"><br>
  </label>

  <br>
  
  <label for="password">Password:
  <input type="password" name="password" placeholder="Password"><br>
  </label>
  
  <br>

  <input type="submit" value="Sign Up"> 
</form>

<h4>Already have an account, log in <a href="/login">here</a>!</h4>
