body, html {
  height: 100%;
  margin: 0px;
}

header, footer {
  background-color: rgb(118, 24, 24);
  color: white;
  text-align: center;
  padding: 5px;
  position: fixed;
  width: 100%;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

#logout-submit {
  background: none;
  border: none;
  padding: 0 !important;
  text-decoration: underline;
  cursor: pointer;
  font: unset;
}

#logout-form {
  display: inline-block;
}

#account-settings #links .white-link  {
  display: inline-block;
  font-size: larger;
}

#links {
  display: flex;
  justify-content: space-around;
  
}

.white-link {
  color: white;
}

.login #login-form {
  text-align: center;
  padding: 190px;
  font-size: larger;
}

.signup #signup-form {
  text-align: center;
  padding: 170px;
  font-size: larger;
}

