<h2>Hello <%=@user.username%>! Here is a list of your wines.</h2> 

<% @user.wines.each do |wine| %>
  <a href="/wines/<%= wine.id %>"><%= wine.name %></a>
<% end %>

<h3> <a href="/wines/new">New Bottle</a></h3> 

<form action="submit" method="POST">
  
</form>

<p>Edit your account <a href="/users/<%= @user.slug %>/edit">here</a></p>