<div class="user-show">

  <header>
    <h2>Hello <%=@user.username.capitalize%>! Here is a list of your wines.</h2> 
  </header>

  <section id="wine-list">
    <% @user.wines.each do |wine| %>
      <h2>
        <a href="/wines/<%= wine.id %>"><%= wine.name %></a>
      </h2>
    <% end %>
  </section>
  



</div>

