<div class="homepage">
  
  <header> 
    <h2 id="header">Welcome</h2>
  </header>
  
  <section id="wineimg">
      <img src="/images/wine_bottles.png">
  </section>

  <section id="options">
   <footer>
    <h3 id="text">
      <a href="/login">Log In</a> 
      <a href="/signup">Sign Up</a>
      </h3>
   </footer> 
  </section>
</div>

