<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/homepage.css">
    <link rel="stylesheet" href="/stylesheets/user_show.css">
    <title>Wine Collection</title>
</head>
<body>
    <%= yield %>

    <% if logged_in? %>
        <footer id="account-settings">
            <h3 id="links"> 
                <a class="white-link" href="/wines/new">New Bottle</a>
                <a class="white-link" href="/users/<%= @user.slug %>/edit">Edit Account</a>
                <form id="logout-form" action="/logout" method="post">
                    <input type="hidden" name="_method" value="delete"/>
                    <input class="white-link" id="logout-submit" type="submit" value="Log Out"/>
                </form>
            </h3>
        </footer>
        
    <% end %>
</body>
</html>
  