<div class="new-wine">

  <section class="error"> 
    <% if @error %>
      <img src="/images/broken_glass.png">
        <p><%= @error %></p>
    <% end %>
  </section>
  
  <header>
    <h2>Add a New Bottle to Your Collection</h2>
  </header>

  <section id="new-wine-form">
    <form action="/wines" method="POST">
      <div> 
        <label for="name">Bottle Name:</label>
        <input type="text" name="name" placeholder="Bottle Name" required><br>
      </div>
      <br>
      <div> 
        <label for="type">Country: </label>
          <select name="country" required>
            <option value="Select One"> Select One</option>
            <%@countries.each do |country|%>  
              <option value="<%=country.name%>"><%=country.name%></option>
            <% end %>
          
          </select> <br>
      </div>
      

      <br>
      <div>
        <label for="wine_type">Wine Type: </label>
          <select name="wine_type" required>
            <option value="Select One"> Select One</option>
            <option value="Riesling"> Riesling</option>
            <option value="Pinot Gris"> Pinot Gris</option>
            <option value="Sauvignon Blanc"> Sauvignon Blanc</option>
            <option value="Chardonnay"> Chardonnay</option>
            <option value="Pinot Noir"> Pinot Noir</option>
            <option value="Zinfandel"> Zinfandel</option>
            <option value="Syrah"> Syrah</option>
            <option value="Cabernet Sauvignon">Cabernet Sauvignon</option>
          </select><br>
      </div>
      
      <br>
      <div>
        <label for="other">Other type of wine if not found in the list above:</label>
          <input type="text" name="wine" placeholder="Wine Type">
      </div>
     
      <br>
      <div>
        <label for="price">Price:</label>
          <input type="number" name="price" placeholder="$0.00"><br>
      </div>
     

      <br>
      <div>
        <label for="year">Year Sealed:</label>
          <%time = Time.now%>
          <input type="number" min="1900" max="<%=time.year%>" name="year" placeholder="2015"><br>
      </div>
      
      <br>

      <input type="submit" value="Add Wine">

    </form>
  </section>
  

</div>
